<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>{{UpdateOrCreate}}</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>

 <form [formGroup]="service.form" class="normal-form">
     <mat-grid-list cols="2" rowHeight="300px">
         <mat-grid-tile>
             <div class="controlers-container">
                 <mat-form-field>
                        <input formControlName="firstName" matInput placeholder="firstName">
                        <mat-error *ngIf="service.form.controls['firstName'].errors?.required">
                            firstName is madatory</mat-error>
                    </mat-form-field>
                 <mat-form-field>
                        <input formControlName="lastName" matInput placeholder="Last Name">
                 </mat-form-field>
                
                 <mat-form-field>
                <input formControlName="mobile" matInput placeholder="Mobile">
<mat-error *ngIf="service.form.controls['mobile'].errors?.required">
    mobile is mandatory</mat-error>
    <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">
            minimun 8 number is required</mat-error>
                 </mat-form-field>
                 
                 
                    
                    
					
					
                    
             </div>
                    
         </mat-grid-tile>
         
    <mat-grid-tile>
            <div class="controlers-container">
                    
                  
                   
                     <mat-form-field>
                            <input formControlName="city" matInput placeholder="City">
                     </mat-form-field>
                     <mat-form-field id="datePicker">
                        <input formControlName="dob" matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
    
    </div>
    
</mat-grid-tile>
     </mat-grid-list>
    <div class="buton">
            <button mat-raised-button (click)="onSubmit()" color="primary" type="submit" [disabled]="service.form.invalid">
                    <span>save</span>                </button> 
          <button md-dialog-close mat-raised-button type="button">
                    <span>Clear</span>                </button>
                    <button md-dialog-close mat-raised-button (click)="close()" type="button">
                            <span>Close</span>                </button>
    </div>
 </form>  
